<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html'%}
    {% block content%}
    
    
    {% if user.is_authenticated %}
        <h1>Records... </h1>
        <div class="container mt-3">
                       
            <table class="table table-striped table-hover table bordered">
              <thead class="table-dark">
                <tr>
            
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>City</th>
                  <th>zipcode</th>
                  <th>ID</th>
            
                </tr>
              </thead>
              <tbody>
                
                {% if records %}
                    {% for record in records %}
                        <tr>
                            <td>{{record.first_name }} </td><br/>
                            <td>{{record.last_name }} </td>
                            <td>{{record.email }}</td> 
                            <td>{{record.phone }} </td>
                            <td>{{record.city }} </td>
                          <td>{{record.zipcode }} </td>
                          <td ><a href="{% url 'record' record.id %}">{{record.id}}</a></td>
                        
                        </tr>
                    {% endfor %}
                  {% endif %}
                  
              </tbody>
            </table>
          
        
        {% else %}
        <div class="col-md-6 offset-md-3">
        <h1> LOGIN </h1>
        <form method ="post"action="{% url 'index' %}">
            {% csrf_token %}
            <div class="mb-3 mt-3">
            
                <input type="text" class="form-control" placeholder="Username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
              </div>
              
              <button type="submit" class="btn btn-secondary">LOGIN</button>
        </form>
        
        </div>
    {% endif %}
    {% endblock %}

</body>
</html>